body {
  background-color: #222723;
  color: #2D2723;
}

h3 {
	font: italic normal 1.4em georgia;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
  text-align: center;
	}

h1 {
	font: bold normal 26px georgia;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
  text-align: center;
	}

header {
	padding-top: 20px;
	height: 87px;
  background-color: #151523;
}

p {
  font-family: "Times New Roman", Times, serif;
}

table {
    width: 90%;
    color: #2D2723;
    margin: 0 auto;
}

#col-ref-to {
    padding-top: 0;
    background: #222723;
    vertical-align: top;
    color: blue;
}

#col-en {
    width: 30%;
    background: #afccdb;
}
#col-fr {
    width: 30%;
    background: #afccdb;
}
#col-ru {
    width: 30%;
    background: #afccdb;
}

#col-ref-at {
    padding-left: 10px;
    padding-top: 0;
    background: #222723;
    vertical-align: top;
    color: blue;
}

#col-name {
  font: georgia;
  padding-left: 5px;
  background: #151523;
  text-align: left;
  border: 0px;
  color: #7D775C;
}

#col-en, #col-fr, #col-ru {
    padding: 10px;
    vertical-align: top;
}
