body {
  background-color: #222723;
  color: #2D2723;
  padding: 1em;
  font-family: Georgia, serif;
}

h3 {
	font: italic normal 1.4em georgia;
	letter-spacing: 1px;
	margin-bottom: 10px;
	color: #7D775C;
  text-align: center;
	}

h1 {
	font: bold normal 26px georgia;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
  text-align: center;
	}

header {
	padding-top: 20px;
	height: 80px;
  background-color: #151523;
}

p {
  font-family: "Times New Roman", Times, serif;
}

table {
    width: 90%;
    color: #2D2723;
    margin: 0 auto;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

.col-1, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2{
  padding-left: 0;
  padding-right: 0;
}

#intro {
	font: georgia;
	letter-spacing: 1px;
	margin-top: 15px;
	color: #7D775C;
  text-align: left;
	}

#col-ref-to {
    padding-top: 0;
    padding-right: 10px;
    background: #222723;
    vertical-align: top;
    text-align: right;
    color: blue;
}

#col-ref-at {
    padding-left: 10px;
    padding-top: 0;
    background: #222723;
    vertical-align: top;
    color: blue;
}

#col-name {
  font-family: Georgia, serif;
  padding-left: 5px;
  background: #151523;
  text-align: left;
  border: 0px;
  color: #7D775C;
}

#col-tag {
  font-size: 0.9em;
  font-style: italic;
  padding-left: 5px;
  background: #151523;
  text-align: right;
  border: 0px;
  color: darkred;
}

#col-en, #col-fr, #col-ru {
    padding-top: 10px;
    vertical-align: top;
    background: #afccdb;
    border-width: #151523;
    border-color: red;
}
